body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
}

button {
  padding: 3px 8px;
  border: 0;
  background-color: black;
  color: white;
  opacity: 1;
  transition: 200ms ease-in-out;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}

button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

#game {
  display: grid;
  grid-template-columns: 80vw 20vw;
  height: 100vh;
}

#players-section {
  grid-row: span 2;
  border-left: 2px solid;
  overflow-y: scroll;
}

#players-section h2 {
  padding: 10px;
}

.player-details {
  padding: 10px;
  transition: 400ms ease-in-out;
}

.player-details-current {
  background-color: black;
  color: white;
}

.player-details-id {
  font-weight: bold;
  font-size: 120%;
  padding: 5px 0;
}

.player-details-status {
  font-style: italic;
}

#you-section {
  overflow-y: scroll;
}

#you-section-pass {
  text-align: center;
}

#you-section-pass button {
  font-size: 120%;
  padding: 8px 32px;
  border-radius: 10px;
}

#card-list {
  display: flex;
  flex-wrap: wrap;
  font-size: 800%;
}

.card {
  background-color: white;
  line-height: 0.75em;
  height: 0.9em;
}

.top-card {
  opacity: 1;
  font-size: 1200%;
}

.player-card {
  opacity: 0.4;
  cursor: not-allowed;
}

.player-card-playable {
  opacity: 1;
  cursor: pointer;
  transition: 200ms ease-in-out;
}

.card-red {
  color: #c0392b;
}

.card-black {
  color: black;
}

.card-red.player-card-playable:hover {
  color: white;
  background-color: #c0392b;
}

.card-black.player-card-playable:hover {
  color: white;
  background-color: black;
}
